* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body,html    {
    height: 100vh;
    background: linear-gradient(135deg, #5a0505, #860780);

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 19px;
    background-color: #000000;
}

h2{
    color: white;
}
.btnn a {
background: #4a90e2;
    margin: 5px ;
    padding: 6px 19px ;
    text-decoration: none;
    color: #d8d8d8;
    border-radius: 5px;
    /* font-family: 'Poppins', sans-serif; */
  }
/* Container */
.container {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

/* Card */
.card {
    background: #561f9e7e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
        position: relative;
    top: 50px;
}
nav img{
    height: 80px;
    /* width: 90px; */
    border-radius: 50%;
}

/* Title */
.card h2 {
    margin-bottom: 10px;
    color: #000000;
}

/* Subtext */
.card p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}

/* Input */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    color: #000000;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00c6ff;
}

/* Extra links */
.extra {
    margin-top: 15px;
}

.extra a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.extra a:hover {
    text-decoration: underline;
}
.error-box {
    background: #ffe0e0;
    color: #d8000c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
}

.login-container {
    width: 350px;
    margin: auto;
}



/* Large Desktop */
@media (max-width: 700px) {
    .logo{
      width:80px
    }
    .right button {
  margin-left: 5px;
  padding: 6px 5px;
  border-radius: 4px;
}

    .left button {
  margin-left: 5px;
  padding: 6px 5px;
  border-radius: 4px;
}
    .left{
  flex-direction: column;
  display: flex;
  align-items: center;
}
 
}


/* Mobile Large */
@media (max-width: 450px) {
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
   
}

