* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Card */
.card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

/* Title */
.card h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Subtext */
.card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* Input */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #00c6ff;
}

/* Extra links */
.extra {
    margin-top: 15px;
}

.extra a {
    text-decoration: none;
    font-size: 14px;
    color: #4facfe;
}

.extra a:hover {
    text-decoration: underline;
}
.error-box {
    background: #ffe0e0;
    color: #d8000c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
}

.login-container {
    width: 350px;
    margin: auto;
    margin-top: 100px;
}